################################################################################
# Visual Studio
################################################################################

.vs/
.vscode/

################################################################################
# CMake
################################################################################

build/
out/
CMakeFiles/
CMakeCache.txt
*.ninja
Testing/

################################################################################
# Compilation
################################################################################

*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk